{% extends 'count.html' %}


{% block plot_image %}

<br> <br> <br> <br> <br>







{% if selected_plot == "Count Plot" %}
  



<div class="container">

  <div class="card border-primary mb-3" style="max-width: 500rem;">
    <div class="card-header" style="font-size: 40px;">Summary of the selected column</div>
    <div class="card-body text-primary">
      <!-- <h5 class="card-title">Primary card title</h5> -->
      <p class="card-text" style = "font-size: 30px;">1. {{total_entries}}<br>2. {{missing_entries}}<br>3. {{unique_entries}}<br><br><br><b>{{inference1}}</b></p>
    </div>
  </div>







      

    
</div>
{% endif %}


<div class="container">
  {{inference1}}
</div>


  

<div class="container">

  {% if selected_plot == "Count Plot" %}

        <span style="float:left;margin-top:150px;height: 300px;width:250px;overflow-y:scroll;overflow-x:scroll">>
          <p style="font-size: 30px;">Frequency Table</p>
            <p style="font-family: Sans-serif;font-size: 35px;"><b>{{my_tab.to_html(classes = "table table-striped", ) |
                    safe}}</b></p>


            </span>

            {% endif %}
        <span style="float:right;">
            <img src="{{name}}" alt="Italian Trulli" style="margin-top:5px;">
        </span>

</div>


{% endblock plot_image %}