{% extends 'home.html' %}

{% block list %}

<p> Select the columns while keeping the CTRL key pressed </p>

<form action="/dataReport" method="POST">

    <!-- <input list = "cars"> -->
    <select name="input_text[]" id="input_text" multiple>
        {% for item in list_of_columns %}
        
        <option value="{{item}}">{{item}}</option>

        {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-success btn btn-lg btn-light fw-bold border-primary"
        value="Generate the Report">

        

</form>


<form action="/drawplots" method="POST">

    <!-- <input list = "cars"> -->
    <select name="input_text1[]" id="input_text1">
        {% for item in list_of_plots %}
        
        <option value="{{item}}">{{item}}</option>
  
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-success btn btn-lg btn-light fw-bold border-primary"
        value="Select type of plot">
  
</form>






{% block plots %}
    
{% endblock plots %}



<br> <br> <br>










{% endblock list %}

{% block image %}
  
{% endblock image %}
