{% extends 'home.html' %}

{% block list %}

<p> Select the columns while keeping the CTRL key pressed </p>

<form action="/dataReport" method="POST">

    <!-- <input list = "cars"> -->
    <select name="input_text[]" id="input_text" multiple>
        {% for item in list_of_columns %}
        
        <option value="{{item}}">{{item}}</option>

        {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-success btn btn-lg btn-light fw-bold border-primary"
        value="Feed the columns">

</form>


<br> <br> <br>

<form action="/countplot" method="POST">

  <!-- <input list = "cars"> -->
  <select name="input_text1[]" id="input_text1" multiple>
      {% for item in list_of_columns %}
      
      <option value="{{item}}">{{item}}</option>

      {% endfor %}
  </select>
  <input type="submit" class="btn btn-outline-success btn btn-lg btn-light fw-bold border-primary"
      value="See countplot">

</form>

<br> <br> <br>

<form action="/figure_out" method="POST">

    <!-- <input list = "cars"> -->
    <select name="input_text2[]" id="input_text" multiple>
        {% for item in list_of_columns %}
        
        <option value="{{item}}">{{item}}</option>

        {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-success btn btn-lg btn-light fw-bold border-primary"
        value="Feed the columns">

</form>




{% endblock list %}

{% block image %}
  
{% endblock image %}
